@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: Montserrat;
    background-color: #EFF5F5;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #626262;
}

.title-center {
    text-align: center;
}

.container {
    max-width: 1345px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 25px;
    margin-right: 40px;
}

.nav__inner {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 16px;
    line-height: 20px;
    color: #626262;
}

.nav {
    padding: 15px 0;
}

.btn {
    font-family: Montserrat;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    padding: 9px 0;
    width: 194px;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    box-shadow: 0px 13px 20px -12px rgba(0, 71, 184, 0.49);
}

.btn-center {
    margin: 0 auto;
}

.intro {
    height: 700px;
    background: url(../images/header-bg.png) no-repeat center / contain;
    display: flex;
    align-items: center;
    position: relative;
}

.intro__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__title {
    font-size: 50px;
    line-height: 61px;
    color: #323232;
}

.intro__app {
    border-radius: 20px;
    max-width: 635px;
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    align-items: center;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #EAEAEA;
    box-shadow: 0px 59px 30px -40px rgba(0, 133, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 27px 0;
    color: #323232;
}


.info {
    margin-top: 120px;
}

.info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-content {
    width: 50%;
}

.info-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;
    column-gap: 30px;
    row-gap: 30px;
}

.info-item {
    width: 310px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
    background: #FFFFFF;
    box-shadow: 0px 30px 30px -15px rgba(0, 133, 255, 0.1);
    border-radius: 13px;
}

.info-item__img {
    width: 40px;
    height: 40px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-item:nth-of-type(1) .info-item__img {
    background: #DA0000;
}

.info-item:nth-of-type(2) .info-item__img {
    background: #0083AC;
}

.info-item:nth-of-type(3) .info-item__img {
    background: #007EDA;
}

.info-item:nth-of-type(4) .info-item__img {
    background: #00CDDA;
}

.info-item__text {
    font-size: 20px;
    font-weight: 400;
    color: #323232;
    display: flex;
    align-items: center;
}

.info-item__line {
    width: 43px;
    height: 6px;
    position: relative;
    margin-left: 17px;
    margin-right: 12px;
}

.info-item__line::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #626262;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.info-item__line::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #626262;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.info__bottom {
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-bottom__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}


.info__bottom-sub {
    font-weight: 300;
    font-size: 20px;
    color: #626262;
    margin-top: 12px;
    margin-bottom: 30px;
}

.info__bottom-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
}

.info__bottom-price span {
    margin-left: 80px;
}

.info__bottom-cardprice {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
    margin-top: 20px;
}

.info__bottom-cardprice span {
    margin-left: 8px;
}

.info-bottom__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin-top: 20px;
}

.info__btn {
    font-weight: 700;
    font-size: 16px;
    color: #626262;
}

.offer {
    margin-top: 50px;
}

.offer__content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 30px;
}

.offer-card {
    max-width: 642px;
    width: 100%;
    height: 220px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
}

.offer-card:nth-of-type(1) {
    background: #BDC4FF;
    box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.5);
}

.offer-card:nth-of-type(2) {
    background: #FFD280;
    box-shadow: 0px 40px 30px -25px rgba(255, 210, 128, 0.4);
}

.offer-card::before {
    content: 'Xit';
    padding: 3px 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    background: rgba(255, 255, 255, 0.4);
    border: 0.5px solid rgba(215, 215, 215, 0.3);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.5px);
    border-radius: 4px;
    position: absolute;
    top: -10px;
    left: 23px;
}

.offer-card__info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

.offer-card__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #626262;
}

.offer-card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.offer-card__deadline {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #323232;
    margin-bottom: 20px;
}

.services {
    margin-top: 50px;
}

.services__content {
    margin: 30px 0 32px 0;
    height: 487px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.services-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 30px;
    background: #97EAB9;
    box-shadow: 0px 40px 30px -25px rgba(151, 234, 185, 0.4);
    border-radius: 10px;
}

.services-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 42px;


}

.services-right__item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 65px;
    padding: 0 30px;
}

.services-right__item:nth-of-type(1) {
    background: #FFC1BD;
    box-shadow: 0px 25px 30px -20px rgba(255, 193, 189, 0.5);
}

.services-right__item:nth-of-type(2) {
    background: #C1B7FF;
    box-shadow: 0px 25px 30px -25px rgba(193, 183, 255, 0.4);
}

.menu {
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: none;
    font-family: Montserrat;
}

.services__app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.services__link {
    padding: 27px 0;
    text-align: center;
    max-width: 360px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 12px;
}

.services {
    padding-bottom: 50px;
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    padding-top: 50px;
    padding-bottom: 21px;
}

.footer__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #626262;
    width: 305px;
}